#landing-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  display: flex;
  background-image: url(../../assets/images/park.jpg);
  background-image: url(../../assets/images/dad.jpg);
  background-repeat: no-repeat;
  height: 100%;
  /* padding: 250px; */
  background-size: cover;
 background-position: center-top;
  background-attachment: fixed;
  width: 100%;
  text-shadow: 2px 2px black;
  
}

.text-container {
  /* display: flex;
  
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */
 
  margin-left: 20px;
  color: white;

}



.text {
  margin-right: 0px;
  margin: 20px 20px;
}

@media screen and (max-width: 980px) {
  #main-nav {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }

  @media screen and (max-width: 775px) {


    h3,
    h4 {
      font-size: 14px;
      margin-left: 3px;
    }

    li a ul {
      font-size: 14px;
    }

    #landing-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      
    }

    

  }

  @media (max-width: 775px) {
    #landing-container.custom-background {
    background-size: contain;
    background-position: center;
    }
    }

    @media (max-width: 991px) {
      .palette-primary .call-to-action {
      padding: 0;
      margin: 0;
      }
      }

  @media screen and (max-width: 575px) {


    header nav ul li a {
      justify-content: flex-start;
      font-size: 20px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      flex-direction: row;
      font-weight: bold;
      padding-top: 0px;
    }


  }
}