.image__1 {
  background:linear-gradient(0deg, rgba(30, 0, 255, 0.082), rgba(0, 47, 255, 0.233)),
   url('../../assets/images/horizontal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  height: 350px;
  background-position: 50%;
  border-radius: 0 !important;
  align-items: flex-start;
  justify-content: space-between;

}

.image__1 span {
  width: 30%;
  align-self: center;
  text-shadow: '1px 1px black',
}

.image__2 {
  background:linear-gradient(0deg, rgba(30, 0, 255, 0.082), rgba(0, 47, 255, 0.233)), url('../../assets/images/mom-read.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 350px;
  background-position: 50%;
  justify-content: space-between;
  transition: width 2s, height 4s;

}

.image__2 span {
  width: 30%;
  align-self: flex-start;
  text-shadow: '1px 1px black';
  margin-right: 30px;

}

.image__3 span {
  width: 30%;
  align-self: flex-start;
  text-shadow: '1px 1px black';
  margin-right: 30px;

}

.arrows {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: pink;
  align-self: center;
  /* grid-gap: 50px; */


}

#right__arrow {
  cursor: pointer;
  align-self: center;
}

#left__arrow {
  cursor: pointer;
  align-self: center;
}





.image__3 {
  background:linear-gradient(0deg, rgba(30, 0, 255, 0.082), rgba(0, 47, 255, 0.233)),
  url('../../assets/images/name.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 350px;
  background-position: 50%;
  border-radius: 0 !important;
  align-items: flex-start;
  justify-content: space-between;
}



.image__1,
h6 {

  padding-left: 10px;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 20px;
  background-color: transparent;
  padding-top: 30px;


}

.image__2,
h6 {

  padding-left: 10px;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 20px;
  background-color: transparent;
  padding-top: 30px;


}

.image__3,
h6 {


  color: white;
  text-shadow: 1px 1px black;
  font-size: 20px;
  background-color: transparent;
  padding-top: 30px;

}



.text {
  margin-right: 0px;
  margin: 20px 20px;
}

.Carousel-button-7 {

  display: block;



}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons__login {
  padding: 300px;
}

@media screen and (max-width: 980px) {
  #main-nav {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }

  @media screen and (max-width: 775px) {


    h3,
    h4 {
      font-size: 14px;
      margin-left: 3px;
    }

    li a ul {
      font-size: 14px;
    }

    #landing-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;


    }



  }

  @media (max-width: 775px) {
    #landing-container.custom-background {
      background-size: contain;
      background-position: center;
    }
  }

  @media (max-width: 991px) {
    .palette-primary .call-to-action {
      padding: 0;
      margin: 0;
    }
  }

  @media screen and (max-width: 575px) {


    header nav ul li a {
      justify-content: flex-start;
      font-size: 20px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      flex-direction: row;
      font-weight: bold;
      padding-top: 0px;
    }


  }
}