#six-month-container {
padding-bottom: 30px;
flex-wrap: nowrap;
}

#activity-container{
    display: flex;
 flex-wrap: nowrap;
 margin-bottom: 30px;


 
}
#image {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-weight: lighter;
}

#text-image {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}

#activity-list {

    color: black !important;
    ;
    background-color: #1b2a4c;
    width: 20%;
    list-style: none;
    border-radius: 20px;
    margin-left: 15px;
    padding-top: 20px;
    height: fit-content;

}

li {
    padding-bottom: 20px;
}

li:hover {
    background-color: none !important;
    color: none
}

