footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #1b2a4c;
  padding: 20px;
   

    width: 100%;

}

#madeBy {
    font-weight: lighter;
    font-size: smaller;
    text-shadow: 2px 2px black;
    color:white;
}