footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: auto;
  
    background-image: url(../../assets/images/park.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

}

#madeBy {
    font-weight: lighter;
    font-size: smaller;
    text-shadow: 2px 2px black;
    color:white;
}